.profile {
  width: 95%;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.profile h1{
    font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.profile figure img{
    margin-left: auto;
    margin-right: auto;
    width: 230px;; /* REMOVER */
    height: 230px; /* REMOVER */
    border-radius: 50%;
    background-color: #2a7fff;
    padding: 1%;

}


/*.social{
}
*/
/*.block_social{
  background-color:#38b9e9;
  border-top: 10px solid #18aae0;
  float: left;
  margin: 3% 1%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}*/


/*.block_social h2 {
  font-family: 'Roboto', sans-serif;
  color: #303036;
  font-size: 1.2em;
  text-align: center;
}

a .block_social:hover {
  background-color: #33a2cc;
  cursor: pointer;
}*/



/* Últimos Projetos */
.last_project{
  float: left;
}

.last_project h2{
  text-align: center;
}

.last_project article h3{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

img.icon_project{
    width: 270px;
    height: 170px;
}

article p{
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width: 660px){
  .profile h1{ font-size: 16px; padding: 5px;}
  .profile { width: 99%; text-align: center;}
  .profile p strong { font-size: 13px;}
  .profile p:second-child{
    text-align: left;
  }
  .profile figure img{
    border-radius: 50%;
  }
}



@media only screen and (min-width: 870px){
  .profile h1{ font-size: 19px; padding: 5px;}
  .profile {width: 95%; text-align: center;}
  .profile p strong{ font-size: 16px;}
  .profile p:second-child{
    text-align: left;
  }

}

@media (max-width: 320px){
  .social{
    margin-left: -6%;
  }
}

@media (min-width: 1024px){

}

@media (max-width: 425px){

}

@media (max-width: 768px){

}

@media (min-width: 1440px){

}